@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.hero {
  background-image: url("https://images.unsplash.com/photo-1612202686023-7fa91082956c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80");
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  font-family: Francois One;
  font-size: 80px;
  text-shadow: 5px 5px 14px #810000;
  margin-bottom: 450px;
  text-align: center;
}

h2 {
  color: #810000;
  text-align: center;
  font-family: Staatliches;
  font-size: 60px;
}

h3 {
  color: black;
  font-family: Staatliches;
  font-size: 20px;
  text-align: center;
}

h4 {
  color: white;
  font-family: Staatliches;
  justify-content: center;
  font-size: 40px;
  text-shadow: 4px 4px 8px #151515;
  text-align: center;
}

a:hover {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}

